{
	"useTabs": true,
	"singleQuote": true,
	"printWidth": 80,
	"plugins": [
		"@trivago/prettier-plugin-sort-imports"
	],
	"importOrder": [
		"^react",
		"^@.*components",
		"^@",
		"^@.*css",
		"\\.(png|jpe?g|gif|svg|webp)$"
	]
}
