$header-color: #82cbf4;
$button-primary-color: #0366d6;
$button-hover-color: #005cc5;
$input-color: #57abff;
$primary-text-color: white;
$warning-text-color: red;

$primary-width: 71vw;
$primary-height: 40px;

$button-primary-width: 35vw;
$button-primary-height: 55px;

@mixin button-size($width, $height) {
	width: $width;
	height: $height;
}

@mixin text-style {
	color: $primary-text-color;
	font-size: 20px;
	font-weight: 600;
	text-align: center;
}

header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 2px 5px;
	background-color: $header-color;
	font-weight: 600;
	font-size: x-large;
}

main {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
	margin: auto 0;
	box-sizing: border-box;
	background-color: #bfe8ff;
	min-height: 100vh;
}

img {
	width: 70vw;
	height: 300px;
	object-fit: cover;
	border-radius: 20px;
}

button {
	@include text-style;
	@include button-size($button-primary-width, $button-primary-height);

	background-color: $button-primary-color;
	margin: 10px 5px;
	border-radius: 5px;
	border: 1px solid #e1e4e8;
	cursor: pointer;

	&.img-upload {
		@include button-size($primary-width, $primary-height);
	}

	&:hover {
		background-color: $button-hover-color;
	}
	&:active {
		background-color: $button-primary-color;
	}
}

.input-wrapper {
	display: flex;
	flex-direction: column;
	align-items: start;
	padding: 0;
	color: $warning-text-color;
}

input {
	@include text-style;

	background-color: $input-color;
	width: $primary-width;
	height: $primary-height;
	margin: 12px 0;
	border-radius: 5px;
	border: none;
}

input::placeholder {
	color: white;
}
