$primary-color: black;
$button-hover-color: rgba(48, 43, 43, 0.937);
$input-color: white;
$primary-text-color: white;
$warning-text-color: red;

$primary-width: 71vw;
$primary-height: 40px;

$button-primary-width: 35vw;
$button-primary-height: 55px;

@mixin button-size($width, $height) {
	width: $width;
	height: $height;
}

@mixin button-text-style {
	color: $primary-text-color;
	font-size: 20px;
	font-weight: 600;
	text-align: center;
}

@mixin input-text-style {
	font-size: 20px;
	font-weight: 600;
	text-align: center;
}

body {
	margin: 0;
}

header {
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 12px 5px;
	background-color: $primary-color;
	color: $primary-text-color;
	font-weight: 600;
	font-size: large;
}

main {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
	box-sizing: border-box;
	background-color: white;
	color: $primary-text-color;
	min-height: 100vh;
}

img {
	width: 70vw;
	height: 300px;
	object-fit: cover;
	border-radius: 20px;
}

p {
	color: $primary-color;
}

button {
	@include button-text-style;
	@include button-size($button-primary-width, $button-primary-height);

	background-color: $primary-color;
	margin: 10px 5px;
	border-radius: 5px;
	border: 1px solid #e1e4e8;
	cursor: pointer;

	&.img-upload {
		@include button-size($primary-width, $primary-height);
	}

	&:hover {
		background-color: $button-hover-color;
	}
	&:active {
		background-color: $primary-color;
	}
}

.img-upload-wrapper {
	margin: 30px 0;
}

.input-wrapper {
	display: flex;
	flex-direction: column;
	align-items: start;
	height: 70px;
	padding: 0;
	color: $warning-text-color;
}

input {
	@include input-text-style;

	background-color: $input-color;
	border: 2px solid $primary-color;
	width: $primary-width;
	height: $primary-height;
	margin: 2px;
	border-radius: 5px;
}

input:-webkit-autofill {
	-webkit-box-shadow: 0 0 0 30px #fff inset;
	-webkit-text-fill-color: #000;
}
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input::placeholder {
	color: gray;
	font-weight: 300;
}
input:focus {
	outline: none;
}
