@mixin text-style {
	color: white;
	font-size: 20px;
	font-weight: 800;
	text-align: center;
}

$button-color: #0366d6;
$input-color: #57abff;

button {
	@include text-style;

	background-color: $button-color;
	width: 35vw;
	height: 55px;
	margin: 10px 5px;
	border-radius: 10px;
	border: 1px solid #e1e4e8;
}

input {
	@include text-style;

	background-color: $input-color;
	width: 71vw;
	height: 40px;
	margin: 12px;
	border-radius: 5px;
	border: none;
}
