:root {
	font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
}

html {
	display: flex;
	justify-content: center;
	place-items: center;
	text-align: center;
	margin: auto 0;
	box-sizing: border-box;
	background-color: #bfe8ff;
	min-height: 100vh;
}
