:root {
	font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
	box-sizing: border-box;
}

body {
	display: flex;
	justify-content: center;
	place-items: center;
	text-align: center;

	margin: 0 auto;

	min-width: 320px;
	max-width: 1280px;
	min-height: 100vh;
}
